<div class="col s12 m4">
	<div class="icon-block">
		<h2 class="center light-blue-text"><i class="material-icons">chat_bubble</i></h2>
		<h5 class="center">Un post</h5>

		<p class="light"><i><%= post.date %></i></p>
		<p class="light"><%= post.description %></p>

		<div class="row center">
			<a href="#" id="download-button" class="btn waves-effect waves-light orange">Je crois que c'est moi</a>
		</div>
	</div>
</div>