<div class="col s12 m6 l4">
	<div class="icon-block">
		<h2 class="center light-blue-text"><i class="material-icons">chat_bubble</i></h2>
		<h5 class="center">Un post</h5>

		<p class="light"><i><%= post.date %></i></p>
		<p class="light"><%= post.description %></p>

		<div class="row center">
			<a href="#modal_thinkItsMe" id="download-button" class="btn waves-effect waves-light orange model-trigger">Je crois que c'est moi</a>
		</div>
	</div>
</div>

<div id="modal_thinkItsMe" class="modal">
	<div class="modal-content">
		<h4>Modal Header</h4>
		<p>
			Will be coming soon.
		</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Complete</a>
	</div>
</div>
