<div class="row">
    <form class="col s12">
        <div class="card-panel">
            <h5>Qui est t'il/elle ?</h5>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">comment</i>
                    <textarea id="description" class="materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>

            <div class="row">          
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="nom" type="text" class="validate">
                    <label for="nom">Nom</label>
                </div>
                
                <div class="input-field col s6">
                    <input id="prenom" type="text" class="validate">
                    <label for="prenom">Prénom</label>
                </div>
            </div>
        </div>
        <div class="card-panel">
            <h5>Qui est tu ?</h5>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="nomUser" type="text" class="validate">
                    <label for="nomUser">Nom</label>
                </div>
                
                <div class="input-field col s6">
                    <input id="prenomUser" type="text" class="validate">
                    <label for="prenomUser">Prénom</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
        </div>
        <button class="btn waves-effect waves-light light-blue lighten-1" type="submit" name="action">Envoyer le post
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>